@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --foreground-color: #030712;
  --background-start: #eef2ff17;
  --background-end: #fdf4ff1f;
}

body {
  color: var(--foreground);
  background: linear-gradient(
      to right top,
      transparent,
      var(--background-end)
    )
    var(--background-start);
}

.animate-gradient {
  background-size: 300%;

  @media (prefers-reduced-motion: no-preference) {
    animation: animatedgradient 2s ease infinite alternate;
  } 
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}