@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --foreground-color: #030712;
  --background-start: #eef2ff17;
  --background-end: #fdf4ff1f;
}

body {
  color: var(--foreground);
  background: linear-gradient(to right top, transparent, var(--background-end))
    var(--background-start);
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.text-3d {
  position: relative;
}

.text-3d > div {
  display: flex;
  background-size: 300%;

  @media (prefers-reduced-motion: no-preference) {
    animation: animatedgradient 2s ease infinite alternate;
  }
}

.text-3d > div::after {
  position: absolute;
  text-shadow:
    0px 0px 0 rgb(234, 234, 234),
    1px 1px 0 rgb(236, 236, 236),
    2px 2px 0 rgb(226, 226, 226),
    3px 3px 0 rgb(216, 216, 216),
    4px 4px 0 rgb(206, 206, 206),
    5px 5px 4px rgba(235, 235, 235, 0.6),
    5px 5px 1px rgba(235, 235, 235, 0.5),
    0px 0px 4px rgba(235, 235, 235, 0.2);
  content: 'TOP OF THE POPS';
  mix-blend-mode: luminosity;
  transform: translateY(0);
}
